@charset "UTF-8";
	.css-1g13ixx-Form{
		padding: 40px 0px;
		align-items: center;
		display: flex;
		margin: 0px auto;
		flex: 1 0 auto;
		max-width: 300px;
		box-sizing: border-box;
		flex-direction: column;
		-webkit-bpx-pack: center;
		
	}
	.css-1a5fr2v-LogoLink{
		margin-bottom: 30px;
		
	}
	a {
    	color: inherit;
    	text-decoration: none;
	}
	a, button, [role=button], input[type=button], input[type=submit], input[type=reset] {
    	cursor: pointer;
    	-ms-touch-action: manipulation;
    	touch-action: manipulation;
	}
	svg {
 	   width: 147;
    	height: 50;
	}
	.css-a0jcra-OhouseLogo{
		width: auto;
		height: 50px;
		margin: 0px auto;
	}
	.css-18fd3as-FormContent{
		width: 300px;
	}
	.css-14zpkc9-InputFieldWrap{
		position: relative;;
	}
	
	--아이디입력창 
	.css-or8iu0-FormInputField{
		position: relative;
		display: block;
		width: 100%;
		border-radius: 4px 4px 0px 0px;
		z-index: 1;
		transition: box-shadow 0.2s ease 0s, background-color 0.2s ease 0s;
	}
	
	._2wjXG{
		padding: 13px 15px 14px;
	}
	._2Zb2k{
		border: 1px solid #f77;
	}
	._3ASDR{
		display: inline-block;
		width:100%;
		margin: 0;
		/* padding: 8px 15px 9px; */
		border: 1px solid #dbdbdb;
		background-color: #fff;
		color: #000;
		border-radius: 4px;
		box-sizing: border-box;
		font-family: Noto Sans KR,Noto Sans CJK KR,맑은 고딕,Malgun Gothic,sans-serif;
		font-size: 15px;
		line-height: 21px;
		transition: border color .1s, background-color .1s;
		resize: none;
		-webkit-appearance: none;
		
	}
	 --비밀번호 입력창
	.css-1l3meu8-FormInputField{
		position: relative;
		display: block;
		width: 100%;
		border-radius: 0px 0px 4px 4px;
		margin-top: -1px;
		transition: box-shadow 0.2s ease 0s, background-color 0.2s ease 0s;
	}
	
	
	
	--로그인버튼
	._1eWD8{
		user-select: none;
		position: relative;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		box-sizing: border-box;
		background: none;
		font-family: Noto Sans KR,Noto Sans CJK KR,맑은 고딕,Malgun Gothic,sans-serif;
		font-weight: 700;
		text-decoration: none;
		text-align: center;
		transition: color .1s,background-color .1s,border-color .1s;
		border-radius: 4px;
		cursor: pointer;
	}
	._3SroY{
		background-color: #35c5f0;
		border-color: #35c5f0;
		color: #fff;
	}
	._27do9 {
    padding: 15px 10px;
    line-height: 20px;
    font-size: 17px;
    min-height: 50px;
	}
	.css-15i71tl-SubmitButton{
		margin: 20px 0px;
		width: 100%;
	}
	
	.css-6ofxvx-Actions{
		width:  100%;
		text-align: center;
	}
	
	.css-a6x0yj-ActionLink:first-of-type{
		margin-left: 0;
	}
	.css-a6x0yj-ActionLink:last-of-type{
		margin-left: 20px;
	}
	.css-1ao9naj-Title{
		margin:  35px 0 15px;
		color: #757575;
		font-size: 12px;
		font-weight: normal;
		line-height: 1.33;
		text-align: center;
	}
	.css-j4mauu-SnsLoginLink{
		margin: 0 10px;
		transition: .1s opacity;
	}
	.css-j4mauu-SnsLoginLink>svg{
		width: 48px;
		height: 48px;
		border-radius: 100%;
	}

	.css-1tco2ib-Section{
		width: 100%;
		margin-top: 30px;
		padding-top: 30px;
		border-top: 1px solid #dbdbdb;
	}
	section {
    	display: block;
	}
	.css-188fasd-Main{
		display:  flex;
		align-items: center;
		flex-direction: column;
		-webkit-box-align: center;
		justify-content: center;
		min-height: 100%;
		background-color: #fafafa;
		height: 937px; 
	}
	header,footer,main{
		box-sizing: border-box;
		position: relative;
	}
	.css-p4scf2-FormWrap{
		display: flex;
		width: 100%;
		-webkit-box-flex: 1;
		flex-grow: 1;
	}
	.css-164l93c-OpenButton{
		width: 100%;
		background-color: transparent;
		border: 0;
		margin: 0;
		padding: 0;
		font-size: 15px;
		line-height: 1.4;
		color: #424242;
		margin-bottom: 20px;
	}
	.css-hqqqmg-FormExpand{
		padding: 3px;
		margin: -3px;
		box-sizing: border-box;
	}
	.css-1a7naln-Footer{
		width: 100%;
		color: #757575;
		font-size: 10px;
		line-height: 20px;
		margin: -5px 0 25px;
		text-align: center;
	}