@charset "UTF-8";


.css-9pkojs-SignUpWrapper {
    padding-top: 40px;
    width: calc(100% - 30px);
    margin: auto;
}


a, button, [role=button], input[type=button], input[type=submit], input[type=reset] {
    cursor: pointer;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

a {
    color: inherit;
    text-decoration: none;
}
* {
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    -webkit-tap-highlight-color: transparent;
}



a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
html, body {
    line-height: 1;
    font-family: "Noto Sans KR", "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", sans-serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.4px;
    font-size: 13px;
}

html {
    color: #424242;
    background: #FFF;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(255, 255, 255);
}

.css-176q9ql-SignUpTitle {
    font-size: 20px;
    font-weight: bold;
}


.css-i18bs4-SignUp {
    width: 360px;
}

.css-i18bs4-SignUp {
    margin: 0 auto;
    padding: 60px 0;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

div {
    display: block;
}

.css-eeu40q-SNSWrapper {
    margin: 30px 0;
    padding-bottom: 30px;
    border-bottom: 1px solid #ededed;
}

.css-39adf6-SNSLoginTitle {
    font-size: 12px;
    text-align: center;
    margin: 15px 0;
    color: #757575;
}

.css-1k406r0-SNSList {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}

.css-1balhvh-SNSItem {
    margin: 0 10px;
}

ol, ul {
    list-style: none;
}

ul {
    display: block;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


li {
    display: list-item;
    text-align: -webkit-match-parent;
}


/* form */
.css-g2usge-Label {
    display: block;
    margin: 0px 0px 12px;
    font-size: 15px;
    font-weight: bold;
    color: rgb(255, 119, 119);
    line-height: 21px;
    word-break: keep-all;
}

label {
    cursor: default;
}

._1qwAY {
    padding: 8px 15px 9px;
}

._3ASDR {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 8px 15px 9px;
    border: 1px solid #dbdbdb;
    background-color: #fff;
    color: #000;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Noto Sans KR,Noto Sans CJK KR,맑은 고딕,Malgun Gothic,sans-serif;
    font-size: 15px;
    line-height: 21px;
    transition: border-color .1s,background-color .1s;
    resize: none;
    -webkit-appearance: none;
}

.messege-essential-id, .messege-essential-pw, .messege-essential-nm, 
.messege-pwcheck, .messege-nickname-check {
	padding-top: 10px;
    font-size: 13px;
    line-height: 21px;
    color: rgb(255, 119, 119);
}

/* email */
.email-input {
    display: flex;
}
.input-group {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -moz-box-flex: 1;
    -moz-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

.css-mdp60j-EmailFieldInputWrapper .form-control {
    font-size: 15px;
}

.email-input__local>.form-control {
    width: 100%;
}


.email-input__separator {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 20px;
    -moz-box-flex: 0;
    -moz-flex: 0 0 20px;
    -ms-flex: 0 0 20px;
    flex: 0 0 20px;
    text-align: center;
    line-height: 40px;
    color: #dbdbdb;
}

.email-input__domain, .email-input__local {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0px;
    -moz-box-flex: 1;
    -moz-flex: 1 1 0px;
    -ms-flex: 1 1 0px;
    flex: 1 1 0px;
}

.email-input.errored .form-control {
    border-color: #f77;
}

.email-input__domain>.form-control, .email-input__local>.form-control {
    width: 100%;
}

.email-input__domain>input, .email-input__domain>select {
    padding-right: 30px;
}

option {
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

.email-input.errored .email-input__domain__expand {
    color: #f77;
}
.email-input__domain__expand {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    background: none;
    border: none;
    font-size: 0;
    cursor: default;
    color: rgba(0,0,0,.3);
}

.css-hwzgr-ErrorMessage {
    padding-top: 10px;
    font-size: 13px;
    line-height: 21px;
    color: rgb(255, 119, 119);
}

/* 이메일 인증  */
.css-4blp8p-ButtonWrapper {
    margin-bottom: 30px;
    padding-top: 2px;
}

.css-cm2z8n-AuthButton.css-cm2z8n-AuthButton {
    margin-top: 10px;
    width: 100%;
    height: 45px;
    padding: 0;
    background: #f7f8fa;
    color: #c2c8cc;
    border-color: #dadce0;
}
._27do9 {
    padding: 15px 10px;
    line-height: 20px;
    font-size: 17px;
    min-height: 50px;
}
._2wuTD {
    background-color: #fff;
    border-color: #35c5f0;
    color: #35c5f0;
}
._1eWD8 {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid transparent;
    background: none;
    font-family: Noto Sans KR,Noto Sans CJK KR,맑은 고딕,Malgun Gothic,sans-serif;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    transition: color .1s,background-color .1s,border-color .1s;
    border-radius: 4px;
    cursor: pointer;
}


.css-g2rihj-FieldWrapperContainer {
    margin-bottom: 30px;
}

/* 이메일 인증창 */
.css-1tfl31b-Wrapper {
    min-height: 143px;
    box-sizing: border-box;
    background: rgb(247, 248, 250);
    padding: 20px 16px;
}

.css-z7giky-Message {
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 12px;
}

.css-9ymgpz-InputContainer {
    border: 1px solid rgb(219, 219, 219);
    min-height: 45px;
    padding: 0px 16px;
    background: rgb(255, 255, 255);
    margin-bottom: 10px;
}

.css-1qwlzc8-InputContainer {
    border: 1px solid rgb(255, 119, 119);
    min-height: 45px;
    padding: 0px 16px;
    background: rgb(255, 255, 255);
    margin-bottom: 10px;
}

.css-yj911q-InputTop {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 45px;    
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.css-1k4vvi6-Input {
    border: none;
    font-size: 15px;
    line-height: 15px;
    flex: 1 0 0px;
    width: 0px;
}

.css-1hulvgv-Timer {
    color: rgb(255, 119, 119);
    margin-right: 20px;
}

.css-17lrpjk-OKButton.css-17lrpjk-OKButton {
    white-space: pre;
    height: 31px;
    font-size: 14px;
    line-height: 17px;
    padding: 7px 10px;
    box-sizing: border-box;
}

.css-z40zes-ErrorMessage {
    color: rgb(255, 119, 119);
    font-size: 12px;
    padding-bottom: 15px;
}

.css-1078ncf-EmailResendMessageWrapper {
    margin-top: 10px;
}

/* pw */
.css-19szivi-Label {
    display: block;
    margin: 0 0 12px;
    font-size: 15px;
    font-weight: bold;
    color: #292929;
    line-height: 21px;
    word-break: keep-all;
}

.css-1mh39t-Description {
    margin-bottom: 10px;
    font-size: 13px;
    color: #757575;
    line-height: 1.4;
}

input[type='number'], input[type='text'], input[type='password'], input[type='file'], input[type='tel'], input[type='email'], select, option, textarea, input[type='submit'], button {
    -webkit-appearance: none;
    -moz-appearance: textfield;
}


input, textarea, select, button {
    font-size: inherit;
}

input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

input[type="password" i] {
    -webkit-text-security: disc !important;
}

input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    margin: 0em;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

.css-g2rihj-FieldWrapperContainer {
    margin-bottom: 30px;
}

/* nickname */
.css-1mh39t-Description {
    margin-bottom: 10px;
    font-size: 13px;
    color: #757575;
    line-height: 1.4;
}

/* 약관동의 */
.css-z39kfu-TermsFieldContainer {
    border: solid 1px #dbdbdb;
    padding: 0 23px 6px 16px;
}

.css-186oy8k-TermsAgreeAll {
    border-bottom: 1px solid #ededed;
    height: 70px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    algin-items: center;
}

._4VN_z {
    flex-direction: row;
    padding-right: 6px;
}
._3xqzr {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    width: 100%;
}
._3zqA8 {
    position: relative;
    display: inline-block;
    font-size: 0;
    padding: 9px;
}
._3UImz {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: inherit;
    opacity: 0;
    box-sizing: border-box;
}
._2mDYR {
    display: inline-block;
    width: 22px;
    height: 22px;
    box-sizing: border-box;
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #fff;
    font-size: 16px;
    line-height: 1;
    transition: color .1s,border-color .1s,background-color .1s;
}

._2UftR {
    width: 1em;
    height: 1em;
}

._1aN3J {
    font-size: 15px;
}

.css-sgje51-TermText-TermsBoldText {
    font-size: 14px;
    color: #424242;
    line-height: 18px;
    font-weight: bold;
}

.css-6shc5k-TermText {
    font-size: 14px;
    color: #424242;
    line-height: 18px;
}

.css-1l9bn-UnderlinkLink {
    -webkit-text-decoration: underline;
    text-decoration: underline;
}

.css-jek1hu-Require {
    color: #35c5f0;
    font-size: 12px;
    margin-left: 4px;
}

.css-1m03qc5-Option {
    color: #bdbdbd;
    font-size: 12px;
    margin-left: 4px;
}

.css-g2usge-Label {
    display: block;
    margin: 0px 0px 12px;
    font-size: 15px;
    font-weight: bold;
    color: rgb(255, 119, 119);
    line-height: 21px;
    word-break: keep-all;
}

.terms-head {
	display: block;
    margin: 0 0 12px;
    font-size: 15px;
    font-weight: bold;
    color: #292929;
    line-height: 21px;
    word-break: keep-all;
}

.terms-container {
	border: solid 1px #dbdbdb;
    padding: 0 23px 6px 16px;
    margin-bottom: 30px;
}

.terms-container-agreeAll {
	border-bottom: 1px solid #ededed;
    height: 70px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    algin-items: center;
}

._4VN_z {
    flex-direction: row;
    padding-right: 6px;
}

._3xqzr {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    width: 100%;
}

.terms-label-agreeAll {
	font-size: 14px;
    color: #424242;
    line-height: 18px;
    font-weight: bold;
}

.terms-checkbox {
	position: relative;
    display: inline-block;
    font-size: 0;
    padding: 9px;
}

.term-text {
	font-size: 14px;
    color: #424242;
    line-height: 18px;
}

.term-text-require {
	color: #35c5f0;
    font-size: 12px;
    margin-left: 4px;
}

.term-text-policy {
	text-decoration: underline;
}

.term-text-option {
	color: #bdbdbd;
    font-size: 12px;
    margin-left: 4px;
}


/* 회원가입 버튼 */
button {
    appearance: auto;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

._3Z6oR {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid transparent;
    background: none;
    font-family: Noto Sans KR,Noto Sans CJK KR,맑은 고딕,Malgun Gothic,sans-serif;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    transition: color .1s,background-color .1s,border-color .1s;
    border-radius: 4px;
    cursor: pointer;
}

.css-1c1st7f-ButtonWrapper {
    width: 100%;
}
._2tsrJ, ._3VkGp {
    font-size: 17px;
    line-height: 26px;
}
._2tsrJ {
    padding: 11px 10px;
}

._3AsCW {
    background-color: #35c5f0;
    border-color: #35c5f0;
    color: #fff;
}

/* 이미 아이디가 있으신가요 */
.css-19aqixc-SignUpBottomMessage {
    color: #424242;
    font-size: 15px;
    text-align: center;
    margin-top: 30px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.css-53zgs0-LoginLink {
    -webkit-text-decoration: underline;
    text-decoration: underline;
    font-weight: bold;
    display: inline-block;
    padding-left: 10px;
}

.section {
	font-family: "Noto Sans KR", "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", sans-serif;
}

.form-control {
    transition: border-color .2s,box-shadow .2s,background-color .2s;
    display: block;
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    padding: 0 15px;
    line-height: 40px;
    border-radius: 4px;
    border: 1px solid #dbdbdb;
    background-color: #fff;
    color: #424242;
    font-size: 12px;
}}