@charset "UTF-8";

.css-1hrluq4-Container {
    width: 100%;
    max-width: 1256px;
    margin: 0px auto;
    box-sizing: border-box;
}
@media (min-width: 1256px){
.css-1hrluq4-Container {
    padding: 0px 60px;
}
}


.css-1xn9eio-Row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}
@media (min-width: 1256px){
.css-1xn9eio-Row {
    margin: 0px -10px;
}
}



.css-iuxp75-Col-LayoutProfileCol {
    box-sizing: border-box;
    width: 100%;
    position: relative;
    padding-top: 30px;
}

@media (min-width: 1256px){
.css-iuxp75-Col-LayoutProfileCol {
    padding-left: 10px;
    padding-right: 10px;
}
}
@media (min-width: 1024px){
.css-iuxp75-Col-LayoutProfileCol {
    width: 25%;
}
}

element.style {
    position: sticky;
    top: 81px;
}

element.style {
    position: relative;
}

.css-1h69wno-ProfileBox {
    position: relative;
    padding: 0px;
}

@media (min-width: 768px){
.css-1h69wno-ProfileBox {
    padding: 30px 25px 18px;
    border-radius: 4px;
    border: 1px solid rgb(218, 220, 224);
    box-shadow: rgb(63 71 77 / 6%) 0px 2px 4px 0px;
}
}
/* 삭제될 수도 */
.drop-down {
    display: inline-block;
}
.css-189poez-ProfileShareDropDown {
    position: absolute;
    top: -14px;
    right: -6px;
    z-index: 1;
}

@media (min-width: 768px){
.css-189poez-ProfileShareDropDown {
    top: 18px;
    right: 12px;
}
}
/* 삭제될 수도 -- */
.css-c619ul-ProfileHeader {
    position: relative;
    min-height: 84px;
    box-sizing: border-box;
    padding-left: 104px;
    margin: 0px 0px 20px;
}
@media (min-width: 768px){
.css-c619ul-ProfileHeader {
    min-height: 120px;
    padding: 14px 0px 0px 140px;
}
}
@media (min-width: 1024px){
.css-c619ul-ProfileHeader {
    padding: 0px;
}
}

.css-la1bpa-ProfileImageContainer {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 84px;
    height: 84px;
    margin: 0px 20px 0px 0px;
    border-radius: 100%;
    background-color: rgb(237, 237, 237);
    overflow: hidden;
}
@media (min-width: 768px){
.css-la1bpa-ProfileImageContainer {
    width: 120px;
    height: 120px;
}
}
@media (min-width: 1024px){
.css-la1bpa-ProfileImageContainer {
    position: relative;
    margin: 0px auto 24px;
}
}

.css-1v6260r-ProfileImage {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}
.css-la1bpa-ProfileImageContainer::after {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.07);
    border-radius: 100%;
}

.css-wpgjdm-NicknameDiv {
    margin: 0px 0px 3px;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.2;
    color: rgb(41, 41, 41);
    overflow-wrap: break-word;
    word-break: break-all;
}

@media (min-width: 1024px){
.css-1a3pbo6-ProfileHeaderContent {
    text-align: center;
}
}

@media (min-width: 768px){
.css-wpgjdm-NicknameDiv {
    margin: 0px 0px 10px;
    font-size: 26px;
}
}
@media (min-width: 1024px){
.css-wpgjdm-NicknameDiv {
    line-height: 1.15;
}
}
@media (min-width: 1024px){
.css-1xaof8w-StatsContainer {
    text-align: center;
}
}

.css-gxg6hk-StatsAttributeList {
    margin: 0px 0px 7px;
    display: block;
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    color: rgb(130, 140, 148);
}
@media (min-width: 1024px){
.css-gxg6hk-StatsAttributeList {
    margin: 0px 0px 13px;
}
}

.css-2usnn8-StatsAttributeLabel {
    display: inline-block;
    margin-right: 5px;
}

.css-1fttnao-StatsAttributeValue {
    display: inline-block;
    margin-right: 10px;
    font-weight: bold;
    color: rgb(82, 91, 97);
}
.css-uxuo5y-StatsAttributeValueLink {
    opacity: 1;
    transition: opacity 0.1s ease 0s;
}
/* a {
    color: inherit;
    text-decoration: none;
} */
.css-1fttnao-StatsAttributeValue:not(:last-child)::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 9px;
    margin-left: 10px;
    background-color: rgb(218, 220, 224);
}
.css-2usnn8-StatsAttributeLabel {
    display: inline-block;
    margin-right: 5px;
}


._3Z6oR {
    user-select: none;
    display: inline-block;
    box-sizing: border-box;
    font-family: "Noto Sans KR", "Noto Sans CJK KR", "맑은 고딕", "Malgun Gothic", sans-serif;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    background: none;
    text-decoration: none;
    transition: color 0.1s ease 0s, background-color 0.1s ease 0s, border-color 0.1s ease 0s;
    border-radius: 4px;
}
._1zLQC {
    background-color: #fff;
    border-color: #dbdbdb;
    color: #757575;
}
._1XHs9 {
    padding: 5px 7px 6px;
    font-size: 15px;
    line-height: 19px;
}

.css-1xecl3m-StatsButton.css-1xecl3m-StatsButton {
    padding-left: 16px;
    padding-right: 16px;
    margin-right: 6px;
    font-weight: normal;
    font-size: 12px;
    color: rgb(41, 41, 41);
}

.css-zzhb2h-StatsInviteLink {
    display: inline-block;
    margin-right: 6px;
    font-size: 12px;
    line-height: 19px;
    padding: 6px 16px 7px;
    border-radius: 4px;
    background-color: rgb(239, 251, 255);
    color: rgb(63, 71, 77);
}

@media (min-width: 1024px){
.css-zzhb2h-StatsInviteLink {
    display: none;
}
}

.css-zzhb2h-StatsInviteLink > b {
    margin-left: 2px;
    color: rgb(53, 197, 240);
}

@media (min-width: 768px){
.css-1n6bblu-ShortcutContainer {
    border-top: 1px solid rgb(234, 235, 239);
    padding: 22px 12px 0px;
}
}
@media (min-width: 1024px){
.css-1n6bblu-ShortcutContainer {
    padding: 24px 0px 6px;
}
}
.css-db25ax-ListDiv {
    display: flex;
    color: rgb(41, 41, 41);
}


.css-64c85x-ItemLink {
    flex: 1 0 0px;
    display: block;
    min-width: 0px;
    box-sizing: border-box;
    text-align: center;
    padding: 18px 16px 14px;
    transition: opacity 0.1s ease 0s;
}
@media (min-width: 1024px){
.css-64c85x-ItemLink {
    padding: 0px;
}
}

.css-1emb6h4-ItemIcon {
    margin: 0px auto 4px;
}

.css-1ypdctb-ItemText {
    font-size: 15px;
    line-height: 21px;
    font-weight: normal;
    text-align: center;
    color: rgb(66, 66, 66);
}

@media (min-width: 1024px){
.css-1ypdctb-ItemText {
    font-size: 13px;
}
}

.css-aogldb-ItemCount {
    font-size: 15px;
    line-height: 21px;
    font-weight: bold;
    text-align: center;
    color: rgb(66, 66, 66);
}

.css-1ohhdi5-Col {
    box-sizing: border-box;
    width: 100%;
}
@media (min-width: 1256px){
.css-1ohhdi5-Col {
    padding-left: 10px;
    padding-right: 10px;
}
}
@media (min-width: 1024px){
.css-1ohhdi5-Col {
    width: 8.33333%;
}
}

.css-dui3rq-LayoutDivider {
    margin: 0px -10px 20px;
    border-bottom: 1px solid rgb(237, 237, 237);
}
@media (min-width: 768px){
.css-dui3rq-LayoutDivider {
    display: none;
}
}

.css-1c8k8vc-Col {
    box-sizing: border-box;
    width: 100%;
}

@media (min-width: 1256px){
.css-1c8k8vc-Col {
    padding-left: 10px;
    padding-right: 10px;
}
}
@media (min-width: 1024px){
.css-1c8k8vc-Col {
    width: 66.6667%;
}
}


.css-zp8i6s-Div {
    max-width: 700px;
    margin: 0px auto;
    padding: 50px 0px 0px;
    color: rgb(41, 41, 41);
}

.css-1wx61sn-Section {
    margin: 0px 0px 60px;
}

.css-1cfe91y-SectionHeader {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 0px 0px 20px;
}

.css-1yljhnc-SectionTitle {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 18px;
    line-height: 1;
}
.css-1di0gyp-SectionCount {
    margin-left: 0.4ch;
    color: rgb(53, 197, 240);
}
.css-eytlr-SectionRight {
    margin: 0px -10px;
}


.css-14bh7uo-UploadLink {
    margin: 0px;
    padding: 0px;
    background: none;
    font-style: inherit;
    font-variant: inherit;
    font-stretch: inherit;
    line-height: inherit;
    font-family: inherit;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 175px;
    border: 1px dashed rgb(219, 219, 219);
    color: rgb(117, 117, 117);
    font-size: 13px;
    font-weight: bold;
    transition: color 0.1s ease 0s;
}

.css-p7k028-UploadPlusIcon {
    margin: 0px 5px -2px 0px;
}