@charset "UTF-8";

.css-pme9oh-Div {
    color: rgb(41, 41, 41);
}

.css-slcgdl-HeaderContainer {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 40px 0px;
    padding: 0px 0px 10px;
    border-bottom: 1px solid rgb(237, 237, 237);
}

.css-1tbq2mt-HeaderLink {
    display: inline-block;
    padding: 5px;
    margin-right: 5px;
    font-size: 15px;
    font-weight: bold;
    color: rgb(53, 197, 240);
}

@media (min-width: 768px){
.css-1tbq2mt-HeaderLink {
    margin-right: 20px;
    font-size: 18px;
}}

.css-1c3ug6t-HeaderLink {
    display: inline-block;
    padding: 5px;
    margin-right: 5px;
    font-size: 15px;
    font-weight: bold;
    color: rgb(66, 66, 66);
}
@media (min-width: 768px){
.css-1c3ug6t-HeaderLink {
    margin-right: 20px;
    font-size: 18px;
}}

@media (min-width: 375px){
.css-x809ma-HeaderRightButton {
    padding-left: 20px;
    padding-right: 20px;
}}


._3Z6oR {
    user-select: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid transparent;
    background: none;
    font-family: Noto Sans KR,Noto Sans CJK KR,맑은 고딕,Malgun Gothic,sans-serif;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    transition: color .1s,background-color .1s,border-color .1s;
    border-radius: 4px;
    cursor: pointer;
}
._3AsCW {
    background-color: #35c5f0;
    border-color: #35c5f0;
    color: #fff;
}
._1BDvx {
    padding: 9px 10px;
    font-size: 15px;
}
._1BDvx, ._32u90 {
    line-height: 20px;
}


element.style {
    padding-top: 0px;
    padding-bottom: 0px;
    transform: translateY(0px);
}

.css-m9fm92-EmptyDiv {
    padding: 80px 0px 30px;
    text-align: center;
}

.css-m9fm92-EmptyDiv h1 {
    margin: 0px 0px 5px;
    font-size: 20px;
    line-height: 30px;
    font-weight: normal;
    color: rgb(41, 41, 41);
}

.css-m9fm92-EmptyDiv p {
    margin: 0px 0px 2px;
    font-size: 15px;
    line-height: 25px;
    color: rgb(117, 117, 117);
}