@charset "UTF-8";
.container {
    margin-right: auto;
    margin-left: auto;
    width: 1136px;
    max-width: 100%;
    box-sizing: border-box;
    min-height: 1px;
}
element.style {
   /*  position: sticky; */
    top: 81px;
}
.card-feed__filter-container {
    margin-top: 5px;
    z-index: 100;
    transition: top .1s;
}
blockquote, body, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}
body, html {
    line-height: 1;
    font-family: "Noto Sans KR", "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", sans-serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.4px;
}
body, html {
    font-size: 15px;
}

element.style {
    position: relative;
}
.card-feed__filter-wrap {
    padding: 10px 0 5px;
    background-color: #fff;
    z-index: 100;
    transition: top .1s;
}
.filter-bar__control-list__left, .filter-bar__control-list__right {
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    min-width: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    white-space: nowrap;
}
ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
 .filter-bar__control-list__item--icon {
    display: none;
} 
.filter-bar__control-list__item {
    display: inline-block;
    margin: 0 2px;
    vertical-align: bottom;
    font-size: 0;
    line-height: 0;
}
li {
    text-align: -webkit-match-parent;
}
.filter-bar__control-list__icon {
    padding: 9px 8px 9px 0;
}
.filter-bar__control-list__icon {
    margin: 0;
    border: none;
    background: none;
    font-family: inherit;
    font-size: 0;
    line-height: 0;
    text-decoration: none;
    cursor: pointer;
    transition: opacity .1s;
}
.drop-down {
    position: relative;
    display: inline-block;
}
.filter-bar-control__button.button {
    font-size: 15px;
    line-height: 19px;
    padding: 7px 8px 6px;
    border-radius: 4px;
}
.button--color-gray-0.disabled, .button--color-gray-0:disabled, .button--color-gray-4 {
    background-color: #f5f5f5;
    border-color: #f5f5f5;
    color: #757575;
}
.button {
    user-select: none;
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid transparent;
    background: none;
    font-family: inherit;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    transition: color .1s,background-color .1s,border-color .1s;
    cursor: pointer;
}
.filter-bar-control__button.button>.icon {
    width: 12px;
    height: 12px;
    margin-left: 5px;
    vertical-align: -1px;
}
svg:not(:root) {
    overflow: hidden;
}svg{
    width: 24;
    height: 24;
}
:not(svg) {
    transform-origin: 0px 0px;
}
.filter-bar__tag-list:empty {
    padding: 0;
}
.filter-bar__tag-list {
    margin: 0;
    padding: 5px 0;
    list-style: none;
    font-size: 0;
    line-height: 0;
    box-sizing: border-box;
}
.filter-bar__tag-list__item {
    display: inline-block;
    margin: 0 2px;
    padding: 2px 0;
}

.filter-bar__tag.button {
    display: block;
    padding: 1px 8px 3px;
    font-size: 15px;
    line-height: 18px;
    font-weight: 700;
    border-radius: 26px;
}
.button--color-blue {
    background-color: #35c5f0;
    border-color: #35c5f0;
    color: #fff;
}
.button--color-blue-light-very-more {
    background-color: #e8f4fb;
    border-color: #e8f4fb;
    color: #35c5f0;
}

.filter-bar__tag.button>.icon {
    margin: 0 -4px 0 7px;
    vertical-align: -1px;
    color: #fff;
}
svg {
    width: 12;
    height: 12;
    /* fill: currentcolor; */
}
.filter-bar__tag-list__clear {
    margin: 0;
    padding: 2px 10px;
    border: none;
    background: none;
    font-family: inherit;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    text-decoration: none;
    text-align: center;
    color: #35c5f0;
    cursor: pointer;
    transition: opacity .1s;
}
.filter-bar-control__button.button {
    font-size: 15px;
    line-height: 19px;
    padding: 7px 8px 6px;
    border-radius: 4px;
}
.col-lg-3 {
    position: relative;
    width: 100%;
    min-height: 1px;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -moz-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    padding-right: 5px;
    padding-left: 5px;
}
.col-lg-3 {
    padding-right: 10px;
    padding-left: 10px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-right: -10px;
    margin-left: -10px;
}
.card-feed__content {
    margin-top: 30px;
}
.card-collection-item {
    padding-bottom: 40px;
}
article {
    display: block;
}
.card-item-writer {
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    min-height: 36px;
    margin: 0 0 16px;
    padding: 0 0 0 48px;
}
.card-item-writer__content {
    flex: 0 0 auto;
    margin-top: -5px;
    font-size: 15px;
    line-height: 19px;
}
button {
    appearance: auto;
    -webkit-writing-mode: horizontal-tb !important;

    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}
.card-item-writer__follow {
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    color: #35c5f0;
    font: inherit;
    font-weight: 700;
    transition: opacity .1s;
}
address, caption, cite, code, dfn, em, th, var {
    font-style: normal;
    font-weight: 400;
}

element.style {
    padding-top: 0px;
    padding-bottom: 9830px;
    transform: translateY(0px);
}
body, html {
    line-height: 1;
    font-family: "Noto Sans KR", "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", sans-serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.4px;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
element.style {
    padding-top: 0px;
    padding-bottom: 10510px;
    transform: translateY(0px);
}

.card-collection-item__description.card-item-description {
    -webkit-box-ordinal-group: 2;
    order: 1;
} 
/* 이미지, 포스트 내용  */
.card-collection-item__content {
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    flex-direction: column;
    position: relative;
}
.card-collection-item__content__link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}
a {
    color: inherit;
    text-decoration: none;
}
.card-item-description {
    margin: 0 15px 10px;
    font-size: 15px;
    line-height: 22px;
    transition: opacity .1s;
}
.card-item-description {
    margin: 12px 0 0;
}
.card-item-description__content {
    max-height: 110px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}
.card-item-description__content {
    max-height: 66px;
    -webkit-line-clamp: 3;
}
.card-collection-item__image {
    -webkit-box-flex: 0;
    flex: 0 0 auto;
}
.card-item-image {
    position: relative;
    width: 100%;
    padding-bottom: 77.6%;
    background-color: #ededed;
    overflow: hidden;
}
.card-item-image {
    padding-bottom: 100%;
    border-radius: 6px;
}
.card-item-image .image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%,-50%);
    transition: transform .2s;
}
.card-item-image__collection-icon {
    position: absolute;
    top: 12px;
    right: 12px;
}.card-item-image__collection-icon>.icon {
    width: 18px;
    height: 18px;
}
.card-item-image__view-count {
    position: absolute;
    bottom: 12px;
    right: 12px;
    font-size: 13px;
    color: #fff;
    text-shadow: 0 0 4px rgb(0 0 0 / 50%);
}
 /* 좋아요, 스크랩, 댓글 이미지  */
 .card-item-action-list {
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    display: flex;
    margin-bottom: -12px;
}
 
.card-item-action-list__action {
    -webkit-box-flex: 1;
    flex: 1 0 0px;
    position: relative;
    display: block;
    margin: 0;
    padding: 13px 0 16px;
    background: none;
    border: none;
    text-align: center;
    transition: opacity .1s;
    z-index: 2;
}
.card-item-action-list__action>.icon {
    fill: #424242;
    vertical-align: -7px;
}
.card-item-action-list__action>.icon--stroke {
    fill: transparent;
    stroke: #424242;
    stroke-width: 1.1px;
    transition: fill .1s,stroke .1s;
}
.card-item-action-list__action.card-item-action-list__action--active>.icon--stroke {
    fill: #35c5f0;
    stroke: transparent;
}
.card-item-action-list__action>.count {
    margin-left: 6px;
    font-size: 12px;
    color: #424242;
}
.card-item-action-list__action-share.drop-down {
    display: none;
}
.card-item-action-list__action-wrap {
    -webkit-box-flex: 1;
    flex: 1 0 0px;
}
.card-item-action-list__action-wrap>.card-item-action-list__action {
    width: 100%;
}