<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
  	<typeAliases>
		
		<typeAlias type="com.th.th1.member.MemberVO" alias="MemberVO"/>
		<typeAlias type="com.th.th1.notice.NoticeVO" alias="NoticeVO"/>
		<typeAlias type="com.th.th1.pr.PrVO" alias="PrVO"/>
		
		
		<typeAlias type="com.th.th1.picture.PictureVO" alias="PictureVO"/>
		<typeAlias type="com.th.th1.member.RoleVO" alias="RoleVO"/>
		
		<typeAlias type="com.th.th1.category.ProductVO" alias="ProductVO"/>
		<typeAlias type="com.th.th1.category.PrFilesVO" alias="PrFilesVO"/>
		
		<typeAlias type="com.th.th1.cart.CartVO" alias="CartVO"/>
		
		<typeAlias type="java.lang.Long" alias="Long"/>
		<typeAlias type="java.util.List" alias="List"/>
		
		
  	
  	</typeAliases>
  </configuration>
