<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.th.th1.category.CategoryDAO">
 
 	
 	<select id="getSelectList" parameterType="java.util.Map" resultMap="getselectListResult">
		select @ROWNUM = @ROWNUM + 1 as ROWNUM, PJ.*
		from
			(select PD.*, PF.fileName from
				(select * from pr
					<if test="pr_category != '0'">
					where pr_category = #{pr_category}
					</if>
				
					<if test="filter == 'sales'">order by  pr_rate desc</if>
					<if test="filter == 'lowPrice'">order by  pr_dPrice asc</if>
					<if test="filter == 'highPrice'">order by  pr_dPrice desc</if>
					<if test="filter == 'scrap'">order by  scrap desc</if>
					<if test="filter == 'newest'">order by  pr_num desc</if>
				) 
				as PD
			left outer join 
				pr_files PF
			on (PD.pr_number = PF.pr_number)) as PJ
		,(select @ROWNUM := 0) as R
		limit 0,10
 	</select>
 	<resultMap type="ProductVO" id="getselectListResult">
		<id column="pr_number" property="pr_number"/>
		<result column="pr_name" property="pr_name"/>
		<result column="pr_seller" property="pr_seller"/>
		<result column="pr_category" property="pr_category"/>
		<result column="pr_price" property="pr_price"/>
		<result column="pr_discount" property="pr_discount"/>
		<result column="pr_dPrice" property="pr_dPrice"/>
		<result column="pr_rate" property="pr_rate"/>
		<result column="pr_scrap" property="pr_scrap"/>
		
		<collection property="prFiles" javaType="List" ofType="PrFilesVO">
			<id column="fileNum" property="fileNum"/>
			<result column="pr_number" property="pr_number"/>
			<result column="fileName" property="fileName"/>
			<result column="oriName" property="oriName"/>
		</collection>
	</resultMap>
 	
	<select id="getSelectPage" parameterType="ProductVO" resultMap="getselectPageResult">
		select * from pr where pr_number = #{pr_number}
	</select>
	<resultMap type="ProductVO" id="getselectPageResult">
		<id column="pr_number" property="pr_number"/>
		<result column="pr_name" property="pr_name"/>
		<result column="pr_seller" property="pr_seller"/>
		<result column="pr_category" property="pr_category"/>
		<result column="pr_price" property="pr_price"/>
		<result column="pr_discount" property="pr_discount"/>
		<result column="pr_dPrice" property="pr_dPrice"/>
		<result column="pr_rate" property="pr_rate"/>
		<result column="pr_scrap" property="pr_scrap"/>
		
		<collection property="prFiles" javaType="List" ofType="PrFilesVO">
			<id column="fileNum" property="fileNum"/>
			<result column="pr_number" property="pr_number"/>
			<result column="fileName" property="fileName"/>
			<result column="oriName" property="oriName"/>
		</collection>
	</resultMap>
	
	<select id="getSelectCount" parameterType="ProductVO" resultType="Long">
		select count(pr_number) from pr
		<if test="pr_category != '0'">
			where pr_category = #{pr_category}
		</if>		
	</select>
	
	<select id="getSelectCategoryName" parameterType="ProductVO" resultType="String">
		select category_name from pr_category where category_num = ${pr_category}
	</select>
  		
  </mapper>