<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.th.th1.category.CategoryDAO">
 
 	<!-- 카테고리  -->
 	<select id="getSelectList" parameterType="ProductVO" resultMap="getselectListResult">
 		select P.*, PF.* from
		pr P left join pr_files PF
		on (P.pr_number = PF.pr_number)
		<if test="pr_category != '0'">
			where pr_category = #{pr_category}
		</if>
		order by P.pr_number desc
		
 		
 	</select>
 	<resultMap type="ProductVO" id="getselectListResult">
		<id column="pr_number" property="pr_number"/>
		<result column="pr_name" property="pr_name"/>
		<result column="pr_seller" property="pr_seller"/>
		<result column="pr_category" property="pr_category"/>
		<result column="pr_price" property="pr_price"/>
		<result column="pr_discount" property="pr_discount"/>
		<result column="pr_dPrice" property="pr_dPrice"/>
		<result column="pr_rate" property="pr_rate"/>
		<result column="pr_scrap" property="pr_scrap"/>
		<result column="pr_address" property="pr_address"/>
		
		<collection property="prFiles" javaType="List" ofType="PrFilesVO">
			<id column="fileNum" property="fileNum"/>
			<result column="pr_number" property="pr_number"/>
			<result column="fileName" property="fileName"/>
			<result column="oriName" property="oriName"/>
		</collection>
	</resultMap>
	
	<!-- 베스트  -->
	<select id="getSelectList1" parameterType="ProductVO" resultMap="getselectList1Result">
 		select P.*, PF.* from
		pr P left join pr_files PF
		on (P.pr_number = PF.pr_number)
		order by P.pr_rate desc
		
 	<!-- 상세페이지 -->
 	</select>
 	<resultMap type="ProductVO" id="getselectList1Result">
		<id column="pr_number" property="pr_number"/>
		<result column="pr_name" property="pr_name"/>
		<result column="pr_seller" property="pr_seller"/>
		<result column="pr_category" property="pr_category"/>
		<result column="pr_price" property="pr_price"/>
		<result column="pr_discount" property="pr_discount"/>
		<result column="pr_dPrice" property="pr_dPrice"/>
		<result column="pr_rate" property="pr_rate"/>
		<result column="pr_scrap" property="pr_scrap"/>
		<result column="pr_address" property="pr_address"/>
		
		<collection property="prFiles" javaType="List" ofType="PrFilesVO">
			<id column="fileNum" property="fileNum"/>
			<result column="pr_number" property="pr_number"/>
			<result column="fileName" property="fileName"/>
			<result column="oriName" property="oriName"/>
		</collection>
	</resultMap>
	
 	
	<select id="getSelectPage" parameterType="ProductVO" resultMap="getselectPageResult">
		select P.*, PF.* from
		pr P left join pr_files PF
		on (P.pr_number = PF.pr_number)
		where P.pr_number=#{pr_number}
	</select>
	<resultMap type="ProductVO" id="getselectPageResult">
		<id column="pr_number" property="pr_number"/>
		<result column="pr_name" property="pr_name"/>
		<result column="pr_seller" property="pr_seller"/>
		<result column="pr_category" property="pr_category"/>
		<result column="pr_price" property="pr_price"/>
		<result column="pr_discount" property="pr_discount"/>
		<result column="pr_dPrice" property="pr_dPrice"/>
		<result column="pr_rate" property="pr_rate"/>
		<result column="pr_scrap" property="pr_scrap"/>
		<result column="pr_address" property="pr_address"/>
		
		<collection property="prFiles" javaType="List" ofType="PrFilesVO">
			<id column="fileNum" property="fileNum"/>
			<result column="pr_number" property="pr_number"/>
			<result column="fileName" property="fileName"/>
			<result column="oriName" property="oriName"/>
			<result column="ori_type" property="ori_type"/>
		</collection>
	</resultMap>
	
	<select id="getSelectCount" parameterType="ProductVO" resultType="Long">
		select count(pr_number) from pr
		<if test="pr_category != '0'">
			where pr_category = #{pr_category}
		</if>		
	</select>
	
	<select id="getSelectCategoryName" parameterType="ProductVO" resultType="String">
		select category_name from pr_category where category_num = ${pr_category}
	</select>
	
	
	
  		
  </mapper>