<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.th.th1.member.MemberDAO">
	
	<insert id="setMemberInsert" parameterType="MemberVO">
		INSERT INTO member (memberNum, id, pw, nickname, enabled)
		VALUES (0, #{id}, #{pw}, #{nickname}, 1);
	</insert>
	
	<delete id="setMemberDelete" parameterType="MemberVO">
		delete from member where memberNum = #{memberNum}
	</delete>
	
	<select id="getNicknameCheck" parameterType="MemberVO" resultType="Long">
		select count(*) from member where nickname = #{nickname}
	</select>
	
	<!-- role 세팅 -->
	<insert id="setMemberRoleInsert" parameterType="java.util.Map">
		insert into member_role(id, num) values(#{id}, #{num})
	</insert>
  
  	<!-- 로그인 -->
	<select id="getLogin" parameterType="java.lang.String" resultMap="getLoginResult">
		select  M.*, R.* from
			member M inner join member_role MR
			on M.id = MR.id
			inner join role R
			on MR.num = R.num
			where M.id = #{username}
	</select>
	<resultMap type="MemberVO" id="getLoginResult">
		<id column="memberNum" property="memberNum"/>
		<result column="id" property="id"/>
		<result column="pw" property="pw"/>
		<result column="nickname" property="nickname"/>
		<result column="enabled" property="enabled"/>
		<collection property="roles" javaType="List" ofType="RoleVO">
			<result column="num" property="num"/>
  			<result column="roleName" property="roleName"/>
		</collection>
	</resultMap>
  
  </mapper>