<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.th.th1.notice.NoticeMapper">
  	<select id="noticeList" resultType="NoticeVO">
  		select * from notice
  	</select>
  	
  	<select id="noticeSelect" parameterType="NoticeVO" resultType="NoticeVO">
  		select * from notice where num=#{num}
  	</select>
  	
  	<insert id="noticeInsert" parameterType="NoticeVO">
  		insert into notice values(#{num}, #{title}, #{writer}, now(), #{contents})
  	</insert>
  	
  	<delete id="noticeDelete" parameterType="NoticeVO">
  		delete from notice where num=#{num}
  	</delete>
  	
  	<update id="noticeUpdate" parameterType="NoticeVO">
  		update notice set title=#{title}, contents=#{contents} where num=#{num}
  	</update>
  </mapper>