<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0 //EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.th.th1.questions.QuestionsDAO">
	<!-- 질문과답변 list 받아오기 -->
	<select id="getQuestionsList" resultType="QuestionsVO">
		SELECT * FROM QUESTIONS
	</select>
	
	<!-- 질문과답변 글하나 받아오기 -->
	<select id="getQuestionOne" parameterType="QuestionsVO" resultMap="hashtagResult">
		SELECT Q.*, QH.HASHTAG_NAME
		FROM QUESTIONS Q left join QUESTIONS_HASHTAG QH
		ON (Q.QUESTS_NUM=QH.QUESTS_NUM)
		WHERE Q.QUESTS_NUM=#{quests_num}
	</select>
	
	<resultMap type="QuestionsVO" id="hashtagResult">
		<id column="quests_num" property="quests_num"/>
		<result column="quests_id" property="quests_id"/>
		<result column="quests_nickname" property="quests_nickname"/>
		<result column="quests_title" property="quests_title"/>
		<result column="quests_contents" property="quests_contents"/>
		<result column="hits" property="hits"/>
		<result column="regDate" property="regDate"/>
		<collection property="tags" javaType="List" ofType="HashtagVO">
			<id column="num" property="num"/>
			<result column="quests_num" property="quests_num"/>
			<result column="hashtag_name" property="hashtag_name"/>
		</collection>
	</resultMap>

	<!-- 질문과답변 insert -->
	<insert id="setQuestionInsert" parameterType="QuestionsVO" useGeneratedKeys="true" keyProperty="quests_num">
		INSERT INTO QUESTIONS
		VALUES (null, #{quests_id}, #{quests_nickname}, #{quests_title}, #{quests_contents}, default, default, 0)
	</insert>

	<!-- Hashtag insert -->
	<insert id="setHashtag" parameterType="com.th.th1.questions.HashtagVO">
		INSERT INTO QUESTIONS_HASHTAG
		VALUES (null, #{quests_num}, #{hashtag_name})
	</insert>
	
	<!-- 질문과답변 수정 -->
	<update id="setQuestionUpdate" parameterType="QuestionsVO">
		UPDATE QUESTIONS
		SET QUESTS_CONTENTS=#{quests_contents}, QUESTS_TITLE=#{quests_title}
		WHERE QUESTS_ID=#{quests_id} AND QUESTS_NUM=#{quests_num}
	</update>
	
	<!-- 질문과답변 삭제 -->
	<delete id="setQuestionDelete" parameterType="QuestionsVO">
		DELETE FROM QUESTIONS
		WHERE QUESTS_NUM=#{quests_num} AND QUESTS_ID=#{quests_id}
	</delete>	

</mapper>